<!-- public/views/home.html -->
<!-- content of this file get added to index.html which is the main page for our SPA -->
<!-- define variables that will be filled up by the controller -->

<!-- Container Carousel -->

<div id="myCarousel" class="carousel slide text-center bg-blackgray" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h3>"Smart Parcel. Smart Delivery."<br><span style="font-style:normal;">Go SMART with your business using our PePaDe Platform</span></h3>
        </div>
        <div class="item">
            <h3>"New Income. New Immutability."<br><span style="font-style:normal;">Reimagine income and markets with our PePaDe Platform </span></h3>
        </div>
        <div class="item">
            <h3>"Customer Centricity. Human Centricity."<br><span style="font-style:normal;">Drive People Centricity using a combination of all our PePaDe Platforms</span></h3>
        </div>
        <div class="item">
            <h3>"Continuous Excellence. Continuous Trust"<br><span style="font-style:normal;">Optimize your business using our PePaDe solutions</span></h3>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- ------------------Container1-------------- -->

<div id="container1" class="container-fluid bg-coolgrey text-center" >
        <h3>Pepade Promise</h3>
</div>

<div id="iThemes" class="container-fluid bg-white text-center header-padding" >
    <div class="row">
    <div class="col-xs-3" style="color:#f4511e">
           <a href="#"> <img src="images\imgSOSB5.jpg" class="img-responsive img-circle img-varwidth imgBorder" alt="SOSB"> </a>
      <h4> <span class="nomobile"> Smart Delivery. Fast Delivery. </span> </h4>
    </div>
    <div class="col-xs-3" style="color:#078122">
           <a href="#"> <img src="images\imgNENE3.jpg" class="img-responsive img-circle img-varwidth imgBorder" alt="NENE"> </a>
      <h4> <span class="nomobile"> New Income. New Ecosystem. </span>  </h4>
    </div>
    <div class="col-xs-3" style="color:#ffc815"> 
           <a href="#"> <img src="images\imgSmiley3.jpg" class="img-responsive img-circle img-varwidth imgBorder" alt="CCHC"> </a>
      <h4> <span class="nomobile"> Customer Centricity. Human Centricity. </span>  </h4>
    </div>
    <div class="col-xs-3" style="color:#a1127d"> 
           <a href="#"> <img src="images\imgCECO2.jpg" class="img-responsive img-circle img-varwidth imgBorder" alt="CECO"> </a>
      <h4> <span class="nomobile"> Continuous Excellence. Continuous Trust. </span>  </h4>
    </div>
    </div>
</div>

<!-- ---------------- Container2 ------------------- -->


<!-- ------------- Container4: to be deleted ------------ -->


<!-- ------------ Container5: to be deleted ------------------ -->



