<!-- public/views/nene.html -->
<!-- content of this file gets added to index.html which is the main page for our SPA -->
<!-- define variables that will be filled up by the controller -->


<!-- BELOW IS MOCKUP CODE FOR LIST OF CURRENT ORDERS -->

<div class="container-fluid bg-white text-center">
	<br>
	<h3>Smart Cotract Quotes Received From Deliverers</h3>
	<br>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">From Address</th>
				<th class="text-center">To Address</th>
				<th class="text-center">Parcel Content</th>
				<th class="text-center">Parcel Size</th>
				<th class="text-center">Parcel Weight</th>
				<th class="text-center">Temperature</th>
				<th class="text-center">Deliver By Date</th>
				<th class="text-center">Deliverer</th>
				<th class="text-center">Price Quote</th>
				<th class="text-center">Finalize Contract?</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>1</td>
				<td>From Address1</td>
				<td>To Address1</td>
				<td>Bike</td>
				<td>100*50*20 cm</td>
				<td>100 Kg</td>
				<td>25C</td>
				<td>15-09-2017</td>
				<td>ERIC</td>
				<td>$100.00</td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value="">Yes/No</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>From Address2</td>
				<td>To Address2</td>
				<td>Chocolate</td>
				<td>20*20*20 cm</td>
				<td>1 Kg</td>
				<td>20C</td>
				<td>16-09-2017</td>
				<td>ANJA</td>
				<td>$50.00</td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value="">Yes/No</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>From Address3</td>
				<td>To Address3</td>
				<td>Cake</td>
				<td>20*50*30 cm</td>
				<td>0.5 Kg</td>
				<td>15C</td>
				<td>17-09-2017</td>
				<td>EMANUEL</td>
				<td>$15.00</td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value="">Yes/No</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>From Address4</td>
				<td>To Address4</td>
				<td>Documents</td>
				<td>50*50*50 cm</td>
				<td>4 Kg</td>
				<td>NA</td>
				<td>18-09-2017</td>
				<td>CHRISTO</td>
				<td>$28.00</td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value="">Yes/No</label>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<button type="button" class="btn btn-default">Accept Quote & Finalize Smart Contract(s) with Deliverer(s)</button>
	<br>
	<br>
</div>



